.footer {
  max-width: $max-page-width;
  width: 100%;
  margin: 55px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  text-transform: uppercase;
  font-size: $small-font-size;
  flex-wrap: wrap;
  @include breakpoint(mobileonly) {
    justify-content: center;
  }
  .column {
    .nav {
      .list {
        display: flex;
        flex-wrap: wrap;
        @include breakpoint(mobileonly) {
          justify-content: center;
        }
        .list-item {
          margin-right: 15px;
          color: $dark-blue;
          cursor: pointer;
          @include breakpoint(mobileonly) {
            margin-bottom: 10px;
          }
          color: $dark-blue;
        }
      }
    }
    .copyright {
      color: $dark-grey;
    }
  }
}
